* {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    box-sizing: border-box;
}

/* HEADER & TOP-CONTAINER */

.wrapper-top {
    background-image: url(img/bg_top.png);
    background-size: 100%;
    background-color: #333;
    background-attachment: fixed;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 19px;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 15px;
}

.logo h1 {
    font-size: 32px;
    text-transform: uppercase;

    color: #f7f7f7;
}

header nav ul {
    display: flex;
}

header nav li {
    margin-top: 32px;
    margin-left: 32px;
}

header a {
    padding: 7px 23px;

    font-size: 23px;

    color: #f7f7f7;
}

header a:hover {
    border-bottom: 2px solid #CD6326;
    color: #CD6326;
}

header a:active {
    border-bottom: 2px solid #8F5613;
    color: #8F5613;
}

.button-hollow {
    border: 2px solid #CD6326;
    border-radius: 5px;

    font-weight: 200;
}

.button-hollow:hover {
    background-color: #CD6326;
    border: 2px solid #CD6326;
}

.button-hollow:active {
    background-color: #8F5613;
    border: 2px solid #8F5613;
}

/* TOP-CONTAINER */

.content-top {
    height: 48.5vw;
    box-sizing: border-box;
    padding-top: 8%;
    padding-bottom: 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.content-top h2 {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 2px;

    color: #CD6326;
}

.content-top p {
    width: 274px;

    font-size: 18px;
    line-height: 27px;
    text-align: justify;

    color: #f7f7f7;
}

.button-solid {
    padding: 14px 42px;

    font-size: 23px;
    font-weight: 200;

    color: #f7f7f7;

    background-color: #CD6326;
    border: 2px solid #CD6326;
    border-radius: 5px; 
}

.button-solid:hover {
    background-color: #E39128;
    border: 2px solid #E39128;
}

.button-solid:active {
    background-color: #8F5613;
    border: 2px solid #8F5613;
}